<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Submitted</th>
      <th>Result</th>
      <th>Competition</th>
    </tr>
  </thead>
  <tbody>
  <% submissions.each do |submission| %>
    <tr class='<%= submission.status == 'success' ? 'success' : '' %>'>
      <td><%= link_to submission.updated_at.strftime('%B %e, %l:%M:%S %P'), submission %></td>
      <td><%= submission.status.humanize %></td>
      <% if submission.competition %>
        <td><%= submission.competition.name %></td>
      <% else %>
        <td><i>None</i></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>